.app {
  // background-image: url("../colorful.jpg");
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: cover;
  .title {
    color: #8a2be2;
  }
  .shell {
    background-image: url("../colorful.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position-x: -20ex;
    background-position-y: -40ex;
    // background-blend-mode: color-burn;
  }
  .section1 {
    min-height: 500px;
    // min-height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16vh calc(5% + 3vw) 0 calc(5% + 5vw);
    // margin-top: 16vh;
    margin-bottom: 18vh;
    border-width: 1px;
    border-color: black;
    p {
      // font-size: 75px;
      // font-size: calc(10px + 6vw);

      // border-radius: 10px;
      // border-width: 10px;
      // padding: 25px;
      // outline: gray;
      // background-color: white;
      // box-shadow: 10px 5px 5px red;

      line-height: 9vw;
      font-size: calc(5.2vw + 1.8vh);
      margin: 0;
      color: #242424;
    }
    .web-image {
      width: calc(26vw);
    }
    .mobile-image {
      display: none;
    }
  }
  .app-links {
    display: none;
  }

  // SECTION 1 MOBILE VIEW
  @media only screen and (max-width: 800px) {
    .section1 {
      height: 450px;
      padding-top: 70px;
      justify-content: flex-start;
      // background: blue;
      flex-direction: column;
      text-align: center;
      p {
        margin-top: 0px;
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 35px;
        text-align: "center";
        margin-bottom: 50px;
      }
      .web-image {
        display: none;
      }
      .mobile-image {
        display: unset;
        height: 400px;
      }
    }
    .app-links {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px 0;
      img {
        cursor: pointer;
      }
    }
  }

  // SECTION 2 DESKTOP VIEW
  .section2 {
    display: flex;
    align-self: center;
    align-items: center;
    // min-height: 180px;
    // background-color: #f0f0f0;
    padding: calc(1.7vw + 10px) calc(3% + 1vw); // vertical horizontal
    margin: 0 calc(6vw);
    margin-bottom: calc(100px + 7vw);
    border-radius: 40px;
    img {
      margin-right: calc(3vw);
      height: 9vw;
    }
    p {
      line-height: 2;
      font-size: calc(12px + 1.2vw);
      color: #303030;
    }
  }

  // SECTION 2 MOBILE VIEW
  @media only screen and (max-width: 800px) {
    .section2 {
      display: none;
      margin-bottom: 20px;
    }
  }

  // SECTION 3 DESKTOP VIEW
  .section3 {
    display: flex;
    align-items: flex-start;
    min-height: calc(600px + 10vw);
    padding: 0 calc(6vw + 5px);
    margin-top: 100px;
    margin-bottom: 0px;
    // background: blue;
    .section3-image {
      width: calc(150px + 10vw);
    }
    .details-container {
      height: calc(250px + 5vw);
      display: grid;
      column-gap: calc(55px + 1.8vw);
      margin-right: calc(55px + 1.8vw);
      grid-template-areas: "icon heading" ".description";
      .icon {
        grid-area: icon;
        width: 140px;
        width: calc(100px + 4vw);
        margin-top: 20px;
      }
      .heading {
        grid-area: heading;
        font-size: calc(10px + 2.7vw);
        margin: 0;
      }
      .description,
      .mobile-description {
        grid-area: description;
        font-size: calc(10px + 0.7vw);
        color: #505050;
        margin-bottom: 150px;
        margin-top: -80px;
        background: #f0f0f0;
        border-radius: 20px;
        padding: calc(1.6vw + 5px);
      }
      .mobile-description {
        display: none;
      }
    }
  }

  // SECTION 4 DESKTOP VIEW
  .section4 {
    display: flex;
    align-items: flex-start;
    min-height: calc(600px + 10vw);
    padding: 0 calc(6vw + 5px);
    margin-top: 0px;
    margin-bottom: 0px;
    // background: blue;
    .section4-image {
      width: calc(150px + 10vw);
    }
    .details-container {
      height: calc(250px + 5vw);
      display: grid;
      column-gap: calc(50px + 1.8vw);
      margin-left: calc(50px + 1.8vw);
      grid-template-areas: "heading icon" "description.";
      border-color: black;
      border-width: 20px;
      .icon {
        grid-area: icon;
        width: calc(80px + 5vw);
        margin-top: 20px;
      }
      .heading {
        grid-area: heading;
        font-size: calc(10px + 2.7vw);
        margin: 0;
      }
      .description,
      .mobile-description {
        grid-area: description;
        font-size: calc(10px + 0.7vw);
        color: #505050;
        margin-bottom: 150px;
        margin-top: -80px;
        background: #f0f0f0;
        border-radius: 20px;
        padding: calc(1.6vw + 5px);
      }
      .mobile-description {
        display: none;
      }
    }
  }

  // SECTION 3 MOBILE VIEW
  @media only screen and (max-width: 800px) {
    .section3 {
      min-height: unset;
      padding: 0 calc(15vw - 10px);
      .section3-image {
        display: none;
      }
      .details-container {
        grid-template-areas: "heading ." "icon description";
        height: 220px;
        margin-right: unset;
        column-gap: calc(25px + 1.8vw);
        .heading {
          display: none;
        }
        .description {
          display: none;
        }
        .mobile-description {
          height: 75px;
          display: unset;
          margin: 0;
          grid-area: description;
          font-size: calc(12px + 0.7vw);
          background: #f0f0f0;
          color: #505050;
          border-radius: 20px;
          border-bottom-left-radius: 0;
          padding: calc(1.4vw + 16px);
        }
        .icon {
          grid-area: icon;
          width: calc(80px + 5vw);
          margin-top: 0px;
        }
      }
      .reverse {
        grid-template-areas:
          "heading ."
          "description icon";
        .description {
          display: none;
        }
        .mobile-description {
          display: unset;
          text-align: left;
          border-radius: 20px;
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  // SECTION 4 MOBILE VIEW
  @media (max-width: 800px) {
    .section4 {
      min-height: unset;
      padding: 0 calc(15vw - 10px);
      .section4-image {
        display: none;
      }
      .details-container {
        grid-template-areas: "heading ." "icon description";
        height: 220px;
        margin-left: unset;
        column-gap: calc(25px + 1.8vw);
        .heading {
          display: none;
        }
        .description {
          display: none;
        }
        .mobile-description {
          height: 75px;
          display: unset;
          margin: 0;
          grid-area: description;
          font-size: calc(12px + 0.7vw);
          background: #f0f0f0;
          color: #505050;
          border-radius: 20px;
          border-bottom-left-radius: 0;
          padding: calc(1.4vw + 16px);
        }
        .icon {
          grid-area: icon;
          width: calc(80px + 5vw);
          margin-top: 0px;
        }
      }
      .reverse {
        grid-template-areas:
          "heading ."
          "description icon";
        margin: unset;
        .description {
          display: none;
        }
        .mobile-description {
          height: 75px;
          display: unset;
          margin: 0;
          grid-area: description;
          font-size: calc(12px + 0.7vw);
          background: #f0f0f0;
          color: #505050;
          border-radius: 20px;
          border-bottom-right-radius: 0;
          padding: calc(1.4vw + 16px);
        }
      }
    }
  }
}
