.app {
    .section1 {
      min-height: 685px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 200px;
      p {
        font-size: 75px;
      }
      .title {
        color: #8a2be2;
      }
    }
    @media (max-width: 800px) {
      .section1 {
        flex-direction: column;
      }
    }
    .section2 {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 233px;
      background-color: #f7f6f4;
      padding: 0 200px;
      img {
        margin-right: 75px;
      }
    }
  
    @media (max-width: 800px) {
      .section2 {
        img{
          display: none;
        }
      }
    }
    .section3 {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      min-height: 750px;
      padding: 0 200px;
      margin-top: 120px;
  
      .details-container {
        display: flex;
        align-items: flex-start;
        margin-right: 100px;
        .details {
          margin-left: 50px;
        }
        h2{
          font-size: 45px;
          margin: 0;
        }
        p {
          font-size: 16px;
          color: #746d7f;
          margin-bottom: 70px;
        }
      }
    }
  
    .section4 {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      min-height: 750px;
      padding: 0 200px;
  
      .details-container {
        display: flex;
        align-items: flex-start;
        .details {
          margin-left: 50px;
        }
        h2{
          font-size: 45px;
          margin: 0;
        }
        p {
          font-size: 16px;
          color: #746d7f;
          margin-bottom: 70px;
          margin-right: 100px;
        }
      }
    }
  }
  