.app {
  .title {
    color: #8a2be2;
  }
  .section1 {
    min-height: 500px;
    // min-height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(5% + 3vw) 0 calc(5% + 5vw);
    margin-top: 10;
    // border-style: 'solid',
    border-width: 1px;
    border-color: black;
    p {
      // font-size: 75px;
      // font-size: calc(10px + 6vw);
      line-height: 9vw;
      font-size: calc(5.2vw + 1.8vh);
      margin: 0;
      color: #242424;
    }
    .web-image {
      width: calc(26vw);
    }
    .mobile-image {
      display: none;
    }
  }
  .app-links {
    display: none;
  }

  @media (max-width: 800px) {
    .section1 {
      flex-direction: column;
      p {
        margin: 25px 0;
        font-size: 35px;
      }
      .web-image {
        display: none;
      }
      .mobile-image {
        display: unset;
        height: 350px;
      }
    }
    .app-links {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px 0;
      img {
        cursor: pointer;
      }
    }
  }

  .section2 {
    display: flex;
    align-self: center;
    align-items: center;
    min-height: 180px;
    background-color: #f7f6f4;
    padding: 0 0 0 5%;
    margin: 0 9%;
    border-radius: 40px;
    // box-shadow: 0px 10px 10px 1px #cecaca;
    img {
      margin-right: 75px;
    }
    p {
      line-height: 2;
      font-size: calc(6px + 1.2vw);
      color: #505050;
    }
    scanTheCode {
      font-size: calc(200px + 0.9vw);
    }
  }

  @media (max-width: 800px) {
    .section2 {
      img {
        display: none;
      }
    }
  }
  .section3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 700px;
    padding: 0 9%;
    margin-top: 100px;

    .details-container {
      display: grid;
      grid-template-areas:
        "icon heading"
        ". description";
      column-gap: 50px;
      margin-right: 100px;

      .icon {
        grid-area: icon;
        width: 135px;
      }
      .heading {
        grid-area: heading;
        font-size: 45px;
        margin: 0;
      }
      .description,
      .mobile-description {
        grid-area: description;
        font-size: 16px;
        color: #746d7f;
        margin-bottom: 70px;
        margin-top: -30px;
      }
      .mobile-description {
        display: none;
      }
    }
  }
  @media (max-width: 800px) {
    .section3 {
      min-height: unset;
      .section3-image {
        display: none;
      }
      .details-container {
        grid-template-areas:
          "heading ."
          "icon description";
        margin-right: unset;

        .heading {
          font-size: 24px;
          grid-column: 1 / span 2;
          margin-bottom: 20px;
        }
        .description {
          display: none;
        }
        .mobile-description {
          display: unset;
          text-align: right;
          margin-top: 0;
        }
        .icon {
          width: 60px;
        }
      }
      .reverse {
        grid-template-areas:
          "heading ."
          "description icon";

        .description {
          display: none;
        }
        .mobile-description {
          display: unset;
          text-align: left;
        }
      }
    }
  }

  .section4 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 700px;
    padding: 0 9%;

    .details-container {
      display: grid;
      grid-template-areas:
        "heading icon"
        "description .";
      margin-left: 100px;
      column-gap: 120px;

      .icon {
        grid-area: icon;
        width: 135px;
      }
      .heading {
        grid-area: heading;
        font-size: 45px;
        margin: 0;
      }
      .description,
      .mobile-description {
        grid-area: description;
        font-size: 16px;
        color: #746d7f;
        margin-bottom: 70px;
        margin-top: -30px;
      }
      .mobile-description {
        display: none;
      }
    }
  }
  @media (max-width: 800px) {
    .section4 {
      min-height: 400px;
      .section4-image {
        display: none;
      }
      .details-container {
        grid-template-areas:
          "heading ."
          "icon description";
        margin: unset;
        column-gap: 50px;

        .heading {
          font-size: 24px;
          grid-column: 1 / span 2;
          margin-bottom: 20px;
        }
        .description {
          display: none;
        }
        .mobile-description {
          display: unset;
          text-align: right;
          margin-top: 0;
        }
        .icon {
          width: 60px;
        }
      }
      .reverse {
        grid-template-areas:
          "heading ."
          "description icon";
        margin: unset;
        .description {
          display: none;
        }
        .mobile-description {
          display: unset;
          text-align: left;
        }
      }
    }
  }
}
