.root {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 100px;
  height: 200px;
  background-color: #f7f6f4;
  padding: 0 9%;
  box-shadow: 0px 0px 10px 1px #cecaca;


  .mobile-image{
    display: none;
  }
  .links-container {
    display: flex;
    flex-direction: column;
    a {
      cursor: pointer;
      text-decoration: none;
      white-space: nowrap;
      font-size: 16px;
      color: black;
      padding: 5px;
    }
    .primary {
      color: #8a2be2;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 800px) {
  .root{
  justify-content: space-between;
    .mobile-image{
      display: unset;
    }
  }
}